<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.QuizPangPang.mappers.mainMapper">
   
	<select id="questionList" resultType="com.QuizPangPang.domain.QuestionVO">
	select @rownum:=@rownum+1 as qNum, a.*
	from (select * from tbl_question order by rand() limit 5) a,
	(select @rownum := 0 ) b
	</select>
   
	<select id="backgroundList" resultType="com.QuizPangPang.domain.BackgroundVO">
	select @rownum:=@rownum+1 as bgNum, a.*
	from (select * from tbl_background order by rand() limit 5) a,
	(select @rownum := 0 ) b
	</select>
   
	<insert id="resultRegister" parameterType="com.QuizPangPang.domain.ResultVO">
	insert into tbl_result (phone)
	values (#{phone})
	</insert>
   
	<select id="resultInfo" resultType="com.QuizPangPang.domain.ResultVO">
	select * 
	from tbl_result 
	where phone = #{phone}
	</select>
   
	<update id="resultUpdate" parameterType="com.QuizPangPang.domain.ResultVO">
	update tbl_result 
	<trim prefix="set" suffixOverrides=",">
	<if test="score != null">score = #{score},</if>
	<if test="reward != null">reward = #{reward},</if>
	<if test="chance != null">chance = #{chance},</if>
	<if test="gift != null">gift = #{gift}</if>
	</trim>
	where phone = #{phone}
	</update>
	
	<select id="giftList" resultType="com.QuizPangPang.domain.GiftVO">
	select * 
	from tbl_gift
	</select>
   
</mapper>